.otp-input-container {
  display: flex;
  justify-content: center;
  width: fit-content;
  .otp-input-element {
    display: block;
    box-sizing: border-box;
    text-align: center;
    width: 3vw;
    min-width: 3rem;
    max-width: 4rem;
    height: 3vw;
    min-height: 3rem;
    max-height: 4rem;
    outline: none;
    border-radius: 5px;
    margin: 0 0.25rem;
    font-size: clamp(1.5rem, 2vw, 1.7rem);
    line-height: clamp(1.5rem, 2vw, 1.7rem);
    padding: 0.2em 0.2em;
    transition: border 200ms ease-out;
    user-select: auto;
  }
}
